.categoriesMenu {
  height: 20%;
}

.categoriesMenu ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categoriesMenu li {
  display: grid;
  place-items: center;
  height: 100%;
  width: calc(100% / 4);
  min-width: min-content;
  border: 2px solid rgba(255, 250, 215, 0.3);
  border-left: none;
  /* in next feature move to <a> tag the next styles */
  font-family: "Roboto", sans-serif;
  color: beige;
  font-size: large;
}

.categoriesMenu li:hover {
  background-color: rgba(255, 250, 215, 0.5);
}
