.descriptionModalContainer p {
  color: black;
}

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgModalContainer {
  height: 40vh;
  width: 40vw;
}

.imgModalContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.descriptionModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  height: 40vh;
  width: 60vw;
  border-radius: 2em;
  background-color: rgba(255, 250, 215, 0.7);
}

.descriptionModalContainer h3 {
  font-size: xx-large;
  font-weight: bolder;
  color: black;
}

.rightAlign {
  margin-left: auto;
  text-align: right;
  border: solid orangered;
}
