.descriptionModalContainer p {
  color: black;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.productContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45vw;
}

.imgModalContainer {
  height: 40vh;
  width: 30vw;
}

.imgModalContainer img {
  height: 90%;
  width: 90%;
  object-fit: contain;
}

.descriptionModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: max-content;
  width: 50vw;
  border-radius: 2em;
  background-color: rgba(245, 245, 245, 0.7);
}

.descriptionModalContainer h3 {
  font-size: xx-large;
  font-weight: bolder;
  color: black;
}

.descriptionModalContainer .productDescription {
  font-family: "Roboto", sans-serif;
}

.priceAdd {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.priceAdd p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  margin: 0 1em;
}

.descriptionModalContainer button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(227, 146, 31);
  width: 10em;
  height: 3em;
  border-radius: 5px;
  border: none;
  color: beige;
  font-weight: bold;
  cursor: pointer;
}
