.shop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.item {
  width: calc(100% / 5);
  min-width: 270px;
  height: 280px;
  margin-top: 20px;
  border-radius: 1em;
  border: solid 1px rgba(227, 146, 31, 0.3);
  box-shadow: 0 2px 5px rgba(159, 159, 159, 0.5);
}

.item p {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 5px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25vh;
  margin: 0 auto;
}

.imgContainer:hover {
  opacity: 0.5;
  cursor: pointer;
}

.imgContainer img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.title {
  font-weight: bold;
  text-align: center;
}
.productContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rateStars {
  margin: 5px;
}

.leftContent p {
  font-weight: bolder;
  font-size: 120%;
}

.rightContent p {
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
}

.buyBtn {
  height: 2.5em;
  width: 5em;
  border-radius: 5px;
  border: none;
  background-color: rgb(227, 146, 31);
  color: beige;
  font-weight: bold;
  cursor: pointer;
}

.buttons #seeMore {
  display: grid;
  place-items: center;
  background-color: transparent;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
}

#seeMore img {
  height: 100%;
  width: 100%;
}
